@font-face {
    font-family: 'BYekan';
    src:url("fonts/BYekan.ttf"),
    url("fonts/BYekan.woff"),
    url("fonts/BYekan.eot");
}
#searchTxt{
    width: 450px !important;
    font-family: "BYekan";
    font-size: 25px;
    text-align: right;
    border-radius: 0px 30px 30px 0px;
    height: 40px;
    margin-left: -5px !important;
}
#header{
    height: 110px;
}
#navbar{
    margin-top: 30px;
}
#searchGroup{
        margin-right: 25px !important;
}
#searchBtn{
    border-radius: 30px 0px 0px 30px;
    background: #fbc02d;
    border-color: #fbc02d;
    color: black;
    font-size: 20px;
    padding: 4.5px 10px 5px 10px;
    margin-right: 0px;

}
#loginSignUp{
    font-size: 18px;
    color: aliceblue;
    font-family: "BYekan";
    top: 10px;
    left: 50px;
    position: fixed;
    float: right;
    
}
#shoppingCart{
    position: fixed;
    left: 80px;
    top: 40px;
    font-family: "BYekan";
    
}
#shoppingCartBtn{
    border-radius: 30px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 1px;
    font-size: 20px;
    background-color: #fbc02d;
    color: black;
    border-color: #fbc02d;
    
}
a{
 color: aliceblue;   
} 
#header-slider{
/*    max-height:110px;*/
/*
    position: absolute;
    top: 110px;
*/
}
#myCarousel{
    position: fixed;
    top: 110px;
    margin-left: 14px;
    margin-right: 0;
}
.item img{
    width: 100%;
}