<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">

    <title>اطلاعات کتاب</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/BKDatailStyle.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-cookies.min.js"></script>
    <script type="text/javascript" src="js/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/angular-route.min.js"></script>
    <script type="text/javascript" src="js/detailApp.js"></script>

</head> 

<body ng-app="detailPage" ng-controller="bookDetailController">

    <nav id="header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div style="float:right;margin-top:10px">
                    <div style="float:right;margin-top:10px;margin-left:20px"><img style="" src="images/book.png"></div>
                    <div style="float:right;font-family:'BYekan';color:white;font-size:65px">خانه کتاب</div>
                </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form method="GET" action="Category.html" id="searchGroup" class="navbar-form navbar-right">
                    <div class="form-group">
                        <input id="searchTxt" name="searchTxt" type="text" placeholder="جستجو ..." class="form-control">
                        <button type="submit" id="searchBtn" class="btn btn-success">  
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>
                </form>
                <div id="loginSignUp">
                    <a class="modal_trigger" href="#modal">ثبت نام</a> |
                    <a class="modal_trigger" href="#modal">ورود</a>
                </div>
                <div id="shoppingCart" style="float:right">
                    <a id="shoppingCartBtn" class="btn btn-primary" href="CheckOut.html">
                    {{shoppingCartItemsCount}}<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                </a>
                </div>
                <div id="header-menu" class="nav navbar-nav">
                    <li><a href="#">صفحه اصلی</a></li>
                    <li><a href="#">طبقه بندی موضوعی</a></li>
                    <li><a href="#">نویسندگان</a></li>
                    <li><a href="#">رده های سنی</a></li>
                    <li><a href="#">سال انتشار</a></li>
                    <li><a href="#" style="color:#fbc02d;">تقریظ های رهبری</a></li>

                </div>

            </div>
            <!--/.navbar-collapse -->
        </div>
    </nav>
    <div id="content" class="container" style="font-family:'BYekan';" >
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3 col-sm-6 col-xs-6 text-center">طبقه بندی موضوعی :{{ book.category}} </div>
                <div class="col-md-3 col-sm-6 col-xs-6 text-center">نویسنده : {{book.author}}</div>
                <div class="col-md-3 col-sm-6 col-xs-6 text-center">رده سنی : {{book.age}}</div>
                <div class="col-md-3 col-sm-6 col-xs-6 text-center">سال انتشار :{{book.publicationDate}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="border-bottom:solid;padding-bottom:3px;">
        </div>
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12" style="margin-top:15px;">
                    <img ng-src="{{book.imageAddress}}" class="img-responsive" alt="">
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <h1>{{book.title}}</h1>
                            <h4 style="margin-top:25px;">{{book.author}}</h4>
                            <img src="images/rating-star.png" style="width:15%;" alt="">
<h3>                            امتیاز  : {{book.score}}</h3>
                            <h5 style="margin-top:25px;">خلاصه کتاب</h5>
                            <p>
                                {{book.summary}}
                            </p>
                            <h3>موجودی : {{book.count}} جلد در انبار موجود است</h3>
                            <h3>قیمت : {{book.price}} هزارتومان | تعداد :
                                <form class="form-inline" style="display:inline">
                                    <select ng-model="selectedCount" class="form-control" ng-options="number for number in numbers">
                                    </select>
                                </form>
                                <a ng-click="addToShoppingCart()" class="btn btn-primary" style="background-color:#e1ab18;">
                                اضافه کردن به سبد خرید <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <ul class="nav nav-tabs">
                    <li class="active activeBackGround"><a data-toggle="tab" href="#home">نقد و بررسی</a></li>
                    <li class="activeBackGround"><a data-toggle="tab" href="#menu1">سایر اطلاعات</a></li>
                    </ul>

                    <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <p>
                            {{book.review}}
                        </p>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <p>
                            {{book.isbn}}  ISBN
                        </p>
                    </div>
                    </div>
            </div>
                        <div class="row">
                <ul class="nav nav-tabs">
                    <li class="active activeBackGround"><a data-toggle="tab" href="#comments">نظرات کاربران</a></li>
                    <li class="activeBackGround"><a data-toggle="tab" href="#writeComment">نظر خود را درباره ی این کتاب بنویسید</a></li>
                    </ul>

                    <div class="tab-content">
                    <div id="comments" class="tab-pane fade in active">
                        <div class="row">
                            <div ng-repeat="comment in book.comments" class="col-md-6 col-sm-6 col-xs-6">
                                <h4>کاربر {{comment.user.nameFa}} در تاریخ {{comment.submissionDate}} نوشت :</h4>
                                <p>
                                    {{comment.text}}
                                </p>

                            </div>
                                <div ng-show="!book.comments" class="col-md-6 col-sm-6 col-xs-6">
                                    نظری وجود ندارد
                                </div>
                        </div>

                    </div>
                    <div id="writeComment" class="tab-pane fade">
                        <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">موضوع</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">نظر</label>
                            <textarea id="exampleInputPassword1" class="form-control" rows="3"></textarea>                        
                        </div>
                        <button type="submit" class="btn btn-default">ارسال نظر</button>
                        </form>                       
                   </div>
                    </div>
            </div>
        </div>
    </div>
    <hr>

    <footer>
        <div style="padding:20px;" class="container-fluid navbar-inverse">
            <div class="col-md-6">
                <div class="col-md-3 col-sm-12">
                    <img src="images/samandehi.png" />
                </div>
                <div class="col-md-3 col-sm-12">
                    <img src="images/e-namad.png" />
                </div>
                <div id="aboutUS" class="col-md-6">
                    <h3 id="aboutUSTitle"> درباره خانه کتاب</h3>
                    <h5>فروش عمده و سازمانی</h5>
                    <h5>ثبت نام تامین کنندگان</h5>
                    <h5>زنجیره تامین کتاب</h5>
                    <h5>همکاری با ما</h5>
                    <h5>درباره ی ما</h5>
                </div>
                <div class="col-md-12">
                    <h6 id="contactUs">
                        نقشه سایت | فرصت های شغلی | تماس با ما
                    </h6>

                </div>
            </div>
            <div id="followUs" class="col-md-6">
                <h3 id="followUsTitle">خانه کتاب را دنبال کنید</h3>
                <h6>
                    <img src="images/facebook.png" />
                    <img src="images/telegram.png" />
                    <img src="images/twitter.png" />
                </h6>
                <h6>
                    <img src="images/instagram.png" />
                    <img src="images/aparat.png" />
                    <img src="images/linkedin.png" />
                </h6>
                <h6 id="emailTel">
                    info@khaneketab.ir | +98 9876 1234
                </h6>
            </div>
            <div id="allRightsReserved" class="col-md-12">
                استفاده از مطالب فروشگاه اینترنتی خانه کتاب فقط برای مقاصد غیر تجاری و با ذکر منبع بلامانع است، کلیه حقوق این سایت متعلق
                به شرکت سیستم گستران بهشتی می باشد.
            </div>
        </div>
    </footer>
    <div id="modal" class="popupContainer" style="display:none;font-family: 'BYekan'">
		<header class="popupHeader">
			<span class="header_title">ورود</span>
			<span class="modal_close"><i class="fa fa-times"></i></span>
		</header>
		
		<section class="popupBody">
			<!-- Social Login -->
			<div class="social_login">
				<div class="">
					<a href="#" class="social_box fb">
						<span class="icon"><i class="fa fa-facebook"></i></span>
						<span class="icon_title">اتصال با فیسبوک</span>
						
					</a>

					<a href="#" class="social_box google">
						<span class="icon"><i class="fa fa-google-plus"></i></span>
						<span class="icon_title">اتصال با گوگل</span>
					</a>
				</div>

				<div class="centeredText">
					<span>یا از حساب کاربری خود  استفاده کنید</span>
				</div>

				<div class="action_btns">
					<div class="one_half"><a href="#" id="login_form" class="btn">ورود</a></div>
					<div class="one_half last"><a href="#" id="register_form" class="btn">ثبت نام</a></div>
				</div>
			</div>

			<!-- Username & Password Login form -->
			<div class="user_login">
				<form ng-submit="login()">
					<label>ایمیل / نام کاربری</label>
					<input type="text" />
					<br />

					<label>رمز عبور</label>
					<input type="password" />
					<br />

					<div class="action_btns">
						<div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> برگشت</a></div>
						<div class="one_half last"><input type="submit" value="ورود" class="btn btn_red"/></div>
					</div>
				</form>

				<a href="#" class="forgot_password">رمز خود را فراموش کرده اید؟</a>
			</div>

			<!-- Register Form -->
			<div class="user_register">
				<form>
					<label>نام و نام خانوادگی</label>
					<input type="text" />
					<br />

					<label>آدرس ایمیل</label>
					<input type="email" />
					<br />

					<label>رمز عبور </label>
					<input type="password" />
					<br />

					<div class="action_btns">
						<div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> برگشت</a></div>
						<div class="one_half last"><a href="#" class="btn btn_red">ثبت نام</a></div>
					</div>
				</form>
			</div>
		</section>
	</div>

    </div>
    <!-- /container -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js" type="application/javascript"></script>
    <script src="js/jquery.easing.1.31.js" type="text/javascript"></script>
    <script src="js/jquery.fitvids.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="js/jquery.leanModal.min.js"></script>

    <script>
    	$(".modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

	$(function(){
		// Calling Login Form
		$("#login_form").click(function(){
			$(".social_login").hide();
			$(".user_login").show();
			return false;
		});

		// Calling Register Form
		$("#register_form").click(function(){
			$(".social_login").hide();
			$(".user_register").show();
			$(".header_title").text('ثبت نام');
			return false;
		});

		// Going back to Social Forms
		$(".back_btn").click(function(){
			$(".user_login").hide();
			$(".user_register").hide();
			$(".social_login").show();
			$(".header_title").text('ورود');
			return false;
		});

	})
    </script>

</body>

</html>